<div class="team">
  <h1><%=@team.name%></h1>

  <h2><%=@team.motto%></h2>
</div><br>

<% @heros.each do |hero| %>
  <div class="hero">
    <h2>Hero Name: <%= ship.name %></h2><br>
    <p>Hero Power: <%= ship.type %></p>
    <p>Hero Bigraphy: <%= ship.booty %></p>
  </div><br>
<% end %>
